*{
  font-family: 'Libre Franklin', sans-serif;
}

body {
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  gap: 80px;
  width: 700px;
  margin: 0 auto;
  position: relative;
}



#pic {

  background-image:url("https://media.giphy.com/media/4PUp2US6ExgLMwW4BX/giphy.gif?cid=ecf05e47dfb30euf5yzw65fm0ntynkmmam5zm94qbvz3mtc6&rid=giphy.gif&ct=g");
  flex: 50%;
  width: 350px;
  height: 300px;
  margin: 0 auto;

}



.column{
  width: 350px;
  height: 400px;
  flex: 50%;
  margin: 0 auto;
  }


form {
  width: 200px;
  height: 400px;
  align-items: left;  
  
}

input {
  width: 200px;
  height: 40px;

}

#submit {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #57cc99;
  font-size: 16px;
  padding: 3px 3px;
  text-align: center;
  cursor: pointer;
  width: 50%;
}

#submit:hover {
background: rgb(43,193,14);
background: linear-gradient(90deg, rgba(43,193,14,1) 0%, rgba(15,240,75,1) 35%, rgba(0,212,255,1) 100%);
}

#welcome_message {
  text-align: auto;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 700px;
  margin: 0 auto;
  position: relative;
  font-size: 25px;
}

p {
  text-align: center;
  width: 200px;
}

