*{
  font-family: 'Libre Franklin', sans-serif;
}

body {
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 400px;
  gap: 5px;
  width: 700px;
  margin: 0 auto;
}



#pic {

  background: rgb(43,193,14);
  background: linear-gradient(90deg, rgba(43,193,14,1) 0%, rgba(15,240,75,1) 35%, rgba(0,212,255,1) 100%); 
  flex: 50%;
  width: 350px;
  height: 400px;
  margin: 0 auto;
}



.column{
  width: 350px;
  height: 400px;
  flex: 50%;
  margin: 0 auto;
  }


form {
  width: 200px;
  height: 400px;
  align-items: left;  
  
}

p {
  text-align: center;
}

h2 {
  text-align: left;
  margin-left: 23%;
}
