*{
  font-family: 'Libre Franklin', sans-serif;
}

body {
  margin:0;
  padding:0;
}

.post-date {
  font-size: 1.0rem;
  float: right;
  transform: translate(100px, 10px);
}

.post-author {
  float: right;
  font-size: 1.3rem;
  transform: translate(10px, -10px);
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgb(43,193,14);
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color:rgb(43,193,14);
    background: linear-gradient(90deg, rgba(43,193,14,1) 0%, rgba(15,240,75,1) 35%, rgba(0,212,255,1) 100%);
  }
  
.postForm {
  position: relative;

  padding: 16px;
  margin: 16px 0;
  margin-left: 25%;
  margin-right: 25%;
}

#postarea {
  min-width:500px; 
  max-width:100%;
  min-height:50px;
  height:100%;
  width:100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.post {
  position: relative;
  border: 2px solid #B3B3B3;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 15px;
  padding: 16px;
  margin: 20px auto;
  /* margin: 16px 0;
  margin-left: 12%;
  margin-right: 12%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.25rem;
  height: 35rem;


}

.post::after {
content: "";
clear: both;
display: table;
}

.post img {
float: left;
margin-right: 20px;
border-radius: 50%;
width: 12%;
height: auto;

}

.post span {
font-size: 20px;
margin-right: 15px;
}

@media (max-width: 500px) {
.post {
  text-align: center;
}

.post img {
  margin: auto;
  float: none;
  display: block;
}
}

.post-date {
text-align: right;
position: absolute;
right: 10px;
top: 0px;

}

.post-body {
position:inherit;
}
